.imagemBarbearia{
    background-image: url(imagem.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* e agora a regra de ouro que fará a imagem ocupar todo o viewport */
    background-size: 100% 100%;
}
.contentStyle {
    height: 800px;
    color: black;
    text-align: center;
    background: black;
}

